<%- include('partials/header', { title: t('login.page_title'), user: null }) %>

<div class="card" style="max-width:480px; margin: 0 auto;">
  <h1><%= t('login.heading') %></h1>
  <% if (notice) { %>
    <p class="muted"><%= notice %></p>
  <% } %>
  <% if (error) { %>
    <div class="alert"><%= error %></div>
  <% } %>
  <form method="post" action="/login">
    <label>
      <%= t('common.email') %>
      <input type="email" name="email" placeholder="you@team.com" required />
    </label>
    <label>
      <%= t('common.password') %>
      <input type="password" name="password" required />
    </label>
    <a class="link underlined-link" href="/forgot-password"><%= t('login.forgot_password') %></a>
    <button type="submit"><%= t('header.login') %></button>
  </form>
  <div class="auth-links">
    <a class="link underlined-link" href="/signup"><%= t('login.no_account') %></a>
  </div>
</div>

<%- include('partials/footer') %>
